body{
    margin: 0;
}

.PlayArea{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../IMG/pexels-fwstudio-139306.jpg);
    background-position: center;
    background-size: cover;
}

.SideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: grey;
    width: 20%;
    height: 100%;
}

.Tiles{
    display: flex;
    background-image: url(../IMG/waaaaa.png);
    background-size: cover;
    background-position: center;
    overflow: visible;
    max-width: 100%;
    max-height: 100%;
}

.TileColumn{
    display: flex;
    flex-direction: column;
    position: relative;
}


.Tile{
    position: relative;
    aspect-ratio: 1.15470051/1;
}

.Identifier{
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    pointer-events: none;
    background: rgba(80, 80, 80, 0.4);
    border-radius: 5px;
    padding: 3px;
    font-size: 90%;
    text-align: center;
}


.Board{
    box-sizing: border-box;
    padding: 20px;
    width: 80%;
    height: 100vh;
    max-height: 100vh;
}

[class^="Ship"]{
    position: fixed;
}
