body{
    margin: 0;
}

.PlayArea{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../IMG/wood.png);
    background-size: 112px;
    background-repeat: repeat;
    background-position: center;
}

.SideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: grey;
    width: 20%;
    height: 100%;
}

.Tiles{
    display: flex;
    background-image: url("../IMG/image0.gif");
    background-size: 160px;
    background-repeat: repeat;
    background-position: center;
    overflow: visible;
    max-width: 100%;
    max-height: 100%;
    border: rgb(255, 215, 0) solid 10px;
}

.TileColumn{
    display: flex;
    flex-direction: column;
    position: relative;
}


.Tile{
    position: relative;
    aspect-ratio: 1.15470051/1;
}

.Identifier{
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    pointer-events: none;
    background: rgba(80, 80, 80, 0.4);
    border-radius: 5px;
    padding: 3px;
    font-size: 90%;
    text-align: center;
}


.Board{
    box-sizing: border-box;
    /* border: rgb(253, 231, 111) solid 20px; */
    width: 80%;
    height: 100vh;
    max-height: 100vh;
}

[class^="Ship"]{
    position: fixed;
}

.RightArrow{
    transform: scaleX(-1);
    position: absolute;
    rotate: 90deg;
}

.RightArrow:hover{
    filter: invert(0.65);
}

.LeftArrow{
    position: absolute;
    rotate: -90deg;
}

.LeftArrow:hover{
    filter: invert(0.65);
    
}