body {
    background-image: url(../IMG/wood.png);
    background-size: 112px;
}

@font-face {
    font-family: blackChancery;
    src: url(../css/blackchancery.regular.ttf);
}

@font-face {
    font-family: pfefferMediaeval;
    src: url(../css/pfeffer-mediaeval.regular.otf);
}

* {
    font-family: blackChancery;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
a {
    color: antiquewhite;
}

p,
h4 {
    font-size: 50px;
    font-family: pfefferMediaeval;
    text-shadow: 0 0 2px black;
    margin: 0;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h2,
a {
    font-size: 50px;
    margin-top: 10px;
    font-family: pfefferMediaeval;
    text-align: center;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0 auto;
    font-size: 128px;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.75);
    text-align: center;
}

article {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;

    background-color:rgba(0, 0, 0, 0.375);
    border-radius: 25px;
    padding: 10px;
}

input {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px black;
    color: antiquewhite;
    font-family: pfefferMediaeval;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
}

a:hover {
    color: rgb(187, 177, 164);
    transition: all 150ms;
}

#inLineLink {
    margin: 0;
    font-size: 50px;
    font-family: pfefferMediaeval;
    text-shadow: 0 0 2px black;
}

#backButton {
    display: block;
    position: fixed;
    width: auto;
    right: 25px;
    bottom: 25px;

    background-color:rgba(0, 0, 0, 0.375);
    border-radius: 25px;
    padding: 10px;

    text-decoration: none;
    font-size: 30px;
}

#backButton:hover {
    color: rgb(255, 250, 244);
    background-color: rgba(35, 35, 35, 0.375);
    transition: all 150ms;
}