article {
    display: flex;
    flex-direction: row;
}

section {
    width: auto;
    margin-bottom: 15px;
}

.tableHead {
    font-weight: bolder;
}

.rowHead {
    font-weight: bold;
    color: rgb(99, 99, 99)
}

span {
    height: 1px;
    border: solid 1px black;
    width: 100%;
}

article,
section {
    margin-left: 20px;
}

.nthSection{
    margin-left: 100px;
}