body {
    background-image: url(../IMG/wood.png);
    background-size: 112px;
}

@font-face {
    font-family: blackChancery;
    src: url(../css/blackchancery.regular.ttf);
}

* {
    font-family: blackChancery;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
p,
a {
    color: antiquewhite;
}

p,
h4 {
    font-size: 25px;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h2 {
    font-size: 40px;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0 auto;
    font-size: 128px;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.75);
}

a {
    font-size: 20px;
    text-decoration: none;
}

select:hover,
button:hover,
a:hover {
    color: rgb(187, 177, 164);
    transition: all 150ms;
}

select,
button,
input,
a {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px black;
    color: antiquewhite;
}

option {
    background: rgba(0, 0, 0, 1);;
}

button.nextBoat{
    background-color: red;
    color: white;

}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.horizontal > * {
    margin: 0;
    margin-right: 15px;
}

.box {
    background-color: rgba(0, 0, 0, 0.375);
    width: 25%;
    padding: 20px;
    margin: 20px;
}

article {
    display: flex;
    flex-direction: row;
    align-items: top;
}

#bigBox {
    width: 100%;
}

.horizontal > .box {
    border: none;
    align-self: baseline;
    width: 20.75%;
}

img {
    width: 60%;
    margin: 0 20%;
}

@media screen and (max-width: 1573px) {
    article {
        display: flex;
        flex-wrap: wrap;
    }
    
    .box {
        width: 100%;
    }
}
