.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.horizontal > * {
    margin: 0;
    margin-right: 5px;
}

.box {
    border: 1px solid black;
    width: 25%;
    padding: 20px;
}

article {
    display: flex;
    flex-direction: row;
    align-items: top;
}

#bigBox {
    width: 100%;
}

.horizontal > .box {
    border: none;
    align-self: baseline;
    width: 21.65%;
}

@media screen and (max-width: 1573px) {
    article {
        display: flex;
        flex-wrap: wrap;
    }
    
    .box {
        width: 100%;
    }
}